*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Roboto', Raleway;
    background: #FFF;
    color: #434455;
}

.section-btn{
    width: 1440px;
height: 600px;
flex-shrink: 0;
background: #2E2F42;
}

.page-title{
    width: 496px;
    color: #FFF;
    text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;}

.logo-header{
    color:#2E2F42;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.16; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.logo-blue{
    color: #4D5AE5;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.16; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.nav-menu-list{
    color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}

.nav-menu-list .list:hover,
.nav-menu-list .list:focus{
    color: #404BBF;
}

.link{
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}

.link:hover,
.link:focus{
    color: #404BBF;
}
button{
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
button:hover{
    color: #404BBF;
}

h2{
    color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.1; 
letter-spacing: 0.72px;
text-transform: capitalize;

}

h3{
    color:#2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.4px;
}

p{
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}




